<div class="mb-5">
  <div class="pb-5">
    <h1>{{ title() }}</h1>

    <h3>
      {{ subtitle() }}
    </h3>

    @for (sin of sins(); track sin.texto) {
    <p>
      <mat-checkbox
        color="primary"
        (change)="toggleSin(sin.texto, $event.checked)"
        class="checkbox"
      >
        {{ sin.texto }}
      </mat-checkbox>
    </p>
    <hr />
    }
  </div>

  <div class="options">
    <button mat-fab color="accent" [routerLink]="nextRoute()">
      <mat-icon> keyboard_arrow_right </mat-icon>
    </button>
  </div>
</div>
