<ion-content class="ion-padding">
  <div class="pb-5">
    <h1>{{ title }}</h1>

    <h3>
      {{ subtitle }}
    </h3>

    @for (sin of sins; track sin) {
    <p>
      <mat-checkbox
        color="primary"
        (change)="toggleSin(sin.texto, $event.checked)"
      >
        {{ sin.texto }}
      </mat-checkbox>
    </p>
    }
  </div>

  <div class="options">
    <button mat-stroked-button class="mr-2" [routerLink]="[previousRoute]">
      Voltar
    </button>

    <button mat-flat-button color="primary" [routerLink]="[nextRoute]">
      Avançar
      <mat-icon> keyboard_arrow_right </mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="menu">Limpar</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Limpar este mandamento</button>
      <button mat-menu-item>Limpar tudo</button>
    </mat-menu>
  </div>
</ion-content>
