<!-- <ion-content class="ion-padding">
  <div class="pb-5">
    <h1>Oitavo mandamento</h1>

    <h3>
      Não levantar falso testemunho nem de qualquer outro modo faltar à verdade
      ou difamar o próximo.
    </h3>

    <p *ngFor="let pecado of mandamentos.pecados">
      <mat-checkbox color="primary" (change)="addSin(pecado.texto, $event)">
        {{ pecado.texto }}
      </mat-checkbox>
    </p>
  </div>

  <div class="options">
    <button mat-flat-button [routerLink]="['']">Voltar</button>

    <button mat-flat-button color="primary" routerLink="">
      Finalizar
    </button>
  </div>
</ion-content> -->

<ion-content>
  <sin-list
    title="Oitavo mandamento"
    subtitle="Não levantar falso testemunho nem de qualquer outro modo faltar à verdade
  ou difamar o próximo."
    previousRoute="/checklist/setimo-e-decimo-mandamentos"
    nextRoute="/checklist/imprimir"
    [sins]="commandments.pecados"
  />
</ion-content>
