<ion-content class="ion-padding">
  <div class="pb-5">
    <h1>Terceiro mandamento</h1>

    <h3>"Lembra-te que deves santificar o dia do Senhor."</h3>

    <p *ngFor="let pecado of mandamentos.pecados">
      <mat-checkbox color="primary" [(ngModel)]="pecado.selecionado">
        {{ pecado.texto }}
      </mat-checkbox>
    </p>
  </div>

  <div class="options">
    <button
      mat-stroked-button
      class="mr-2"
      [routerLink]="['/checklist/segundo-mandamento']"
    >
      Voltar
    </button>

    <button
      mat-flat-button
      color="primary"
      [routerLink]="['/checklist/quarto-mandamento']"
    >
      Avançar
      <mat-icon> keyboard_arrow_right </mat-icon>
    </button>

    <button
      mat-button
      [matMenuTriggerFor]="menu"
      [disabled]="service.somePecadoSelected()"
    >
      Limpar
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        (click)="service.clearMandament(mandamentos)"
        [disabled]="service.atLeastOneSelected(mandamentos)"
      >
        Limpar este mandamento
      </button>
      <button mat-menu-item (click)="service.clearAll()">Limpar tudo</button>
    </mat-menu>
  </div>
</ion-content>
