<h1 class="my-4 d-flex justify-content-center">A Sagrada Confissão</h1>

<p>
  Nosso Senhor instituiu a Confissão para todos. Por isto, todos os católicos
  confessam. A Igreja aconselha seus membros de se confessarem antes da maior
  parte das ações importantes da vida. E, no fim, quando a morte está lançando a
  sua sombra, a graça mais importante que pode ter um moribundo é uma boa
  confissão. A Confissão é para todos. Quis Deus que ela fosse a fonte da
  felicidade, paz, coragem e força.
</p>

<p>
  Não podemos nos dirigir ao confessionário com medo da confissão, pois Cristo
  que instituiu a confissão era o Cristo Pai do Filho Prodigo. O Cristo Bom
  Pastor, Cristo Misericordioso que perdoou os pecados de Maria Madalena e a
  triplice negação de Pedro, o Cristo que nos contou da indizivel alegria no céu
  por causa de um pecacor que faz penitencia.
</p>

<p>
  Deviamos aproximar-nos da confissão com alegria. A Confissão deveria ser feita
  com confiança infinita da misericórdia de Deus. Deveriamos lembrar-nos dela
  com sensação de um intenso alívio. A Confissão deve ser uma fonte de
  verdadeira alegria. Por meio dela o pecado é perdoado. Antes da Confissão, a
  pessoa talvez estivesse em perigo iminente de cair no inferno. Depois de ter
  feito uma boa Confissão, ela se encontra, de novo, na estrada certa e segura
  que conduz à felicidade eterna. Mas se exige uma verdadeira cooperação da
  parte do pecador. Deus não pode perdoar pecados de uma pessoa que não está
  arrependida dos que cometeu.
</p>

<p>
  A Confissão não é somente um meio de obter absolvição e perdão. Ela é fonte de
  força. Possui grandes poderes curativos. Mesmo quando há habitos de pecado em
  sua alma, o pecador sabiamente se confessa, porque:
</p>

<ul>
  <li>Deus lhe dá novas forças</li>
  <li>A Confissão mesma é uma fonte de força.</li>
  <li>O sacerdote poderá dar-lhe um conselho que resolva seu problema.</li>
  <li>Com seus repetidos esforços de renunciar ao pecado, triunfará no fim</li>
</ul>

<p>Na confissão recebemos:</p>

<ul>
  <li>Perdão dos pecados</li>
  <li>Ajuda para vencer as dificuldades quaisquer que sejam</li>
  <li>Ajuda para planejar e levar adiante uma vida cheia e util.</li>
</ul>

<p>A confissão:</p>

<ul>
  <li>A Confissão é o amável modo de Deus mostrar compaixão.</li>
  <li>O sacerdote age na pessoa de Cristo.</li>
  <li>
    Podemos ver atrás do sacerdote a figura de Jesus Cristo que com um sorriso
    nos encoraja. Ele nos ama.
  </li>
</ul>

<p>
  Quando Freud começou a estudar os distúrbios e os caos das almas modernas,
  insistiu na importância de que o coração seja aliviado, mesmo se um médico for
  o confidente. O paciente acharia alívio se contasse seus males e apresentasse
  franca e honestamente a um outro os vícios que perturbaram o seu passado.
  Então Freud descobriu que uma classe de pessoas eram os menos necessitados de
  tal alivio: os católicos. Eles já tinham essa oportunidade de se livrar,
  providenciada para eles pelo Salvador, Jesus Cristo, quando instituiu o
  sacramento da penitência.
</p>

<p>
  Obviamente, este alívio é de importância secundária; o perdão dos pecados e a
  restituição da graça santificante às almas é de importância primária. Quando a
  vítima de um colapso nervoso conta ao médico suas dificuldades e pecados, tudo
  quanto o médico pode fazer é dar-lhe conselhos e tentar uma correção e cura a
  longo prazo. Quando um católico vai à Confissão, sabe que certamente será
  curado dos seus pecados.
</p>

<p>
  Que modo melhor, mais bondoso, mais eficiente de ajudar ao pecador poderia
  Deus ter designado do que o sacramento da Confissão? Por isto, o fiel católico
  bem instruido considera privilégio ir frequentemente confessar-se. Ele o
  considera um precioso e seguro modo de voltar a Deus depois do pecado, um meio
  de aliviar uma consciência perturbada e de obter o conselho experimentado e a
  direção de um confessor, uma preparação para sua Confissão final, que ele fará
  como uma das partes dos últimos sacramentos antes de morrer.
</p>
