<ion-content class="ion-padding">
  <h1 class="mb-3">Histórico de confissões</h1>

  <mat-accordion multi>
    @for (data of historyData; track data.id) {
    <mat-expansion-panel (click)="getData(data.id)">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ data.date | date }} </mat-panel-title>
        <button
          mat-icon-button
          color="primary"
          (click)="handleConfession(data, true)"
        >
          <mat-icon> check </mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="handleConfession(data, false)"
        >
          <mat-icon> delete </mat-icon>
        </button>
      </mat-expansion-panel-header>

      <ul>
        @for (sin of data.sins; track sin) {
        <li>
          {{ sin.text }}
        </li>
        }
      </ul>
    </mat-expansion-panel>
    } @empty {
    <p>Não há exames de consciência para exibir!</p>
    }
  </mat-accordion>
</ion-content>
