<ion-app>
  <ion-header>
    <mat-toolbar color="accent">
      <ion-title> A Sagrada Confissão </ion-title>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="confissao">
          <span>A Confissão</span>
        </button>
        <button mat-menu-item routerLink="perguntas">
          <span>Perguntas</span>
        </button>
        <button mat-menu-item routerLink="dicas">
          <span>Dicas</span>
        </button>
        <button mat-menu-item routerLink="checklist/primeiro-mandamento">
          <span>Checklist</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <mat-progress-bar
      mode="determinate"
      [value]="progress"
      color="primary"
      *ngIf="progress != 0"
    ></mat-progress-bar>
  </ion-header>

  <!-- <ion-content class="ion-padding"> COnteudo </ion-content> -->

  <ion-content>
    <ion-router-outlet (activate)="onActivate()"></ion-router-outlet>
  </ion-content>
</ion-app>
