<ion-app>
  <ion-header>
    <mat-toolbar color="accent">
      <ion-title style="flex: 1"> A Sagrada Confissão </ion-title>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="confissao">
          <span>A Confissão</span>
        </button>
        <button mat-menu-item routerLink="perguntas">
          <span>Perguntas</span>
        </button>
        <button mat-menu-item routerLink="dicas">
          <span>Dicas</span>
        </button>
        <button mat-menu-item routerLink="checklist/primeiro-mandamento">
          <span>Checklist</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <mat-progress-bar
      mode="determinate"
      [value]="progress"
      color="primary"
      *ngIf="progress != 0"
    ></mat-progress-bar>
  </ion-header>

  <div class="container-lg">
    <ion-router-outlet (activate)="onActivate()"></ion-router-outlet>

    <!-- <footer class="mt-5">
        <p>Sistema desenvolvido por Nicolas Soares Henrique</p>

        <p>LinkedIn: https://www.linkedin.com/in/nicolas-soares-henrique/</p>

        <p>Possui alguma sugestão ou feedback? Entre em contato:</p>

        <p>(48) 98468-9248</p>
      </footer> -->
  </div>
</ion-app>
