<ion-app>
  <ion-header>
    <mat-toolbar color="accent">
      <ion-title> A Sagrada Confissão </ion-title>
    </mat-toolbar>

    <mat-progress-bar
      mode="determinate"
      [value]="progress"
      color="primary"
      *ngIf="progress != 0"
    ></mat-progress-bar>
  </ion-header>

  <!-- <ion-content class="ion-padding"> COnteudo </ion-content> -->

  <ion-content>
    <ion-router-outlet (activate)="onActivate()"></ion-router-outlet>

    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button
          tab="checklist/primeiro-mandamento"
          routerLink="checklist/primeiro-mandamento"
        >
          <mat-icon>check</mat-icon>
          Checklist
        </ion-tab-button>
        <ion-tab-button tab="dicas" routerLink="dicas">
          <mat-icon>lightbulb</mat-icon>
          Dicas
        </ion-tab-button>
        <ion-tab-button tab="confissao" routerLink="confissao">
          Confissão
        </ion-tab-button>
        <ion-tab-button tab="perguntas" routerLink="perguntas">
          <mat-icon>help_outline</mat-icon>
          Perguntas
        </ion-tab-button>
        <ion-tab-button tab="history" routerLink="history">
          <mat-icon>history</mat-icon>
          Histórico
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</ion-app>
