<h1 class="d-flex justify-content-center my-4">Perguntas</h1>

<strong>1. O que é a Confissão?</strong>

<p>
  Confissão ou Penitência é o Sacramento instituído por Nosso Senhor Jesus
  Cristo, para que os cristãos possam ser perdoados de seus pecados e receberem
  a graça santificante. Também é chamado de sacramento da Reconciliação.
</p>

<strong>2. Quem instituiu o Sacramento da Confissão ou Penitência? </strong>

<p>
  O sacramento da Penitência foi instituido por Nosso Senhor Jesus Cristo,
  segundo nos ensina o Evangelho de São João: "Depois dessas palavras (Jesus)
  soprou sobre eles dizendo-lhes: Recebei o Espírito Santo. Aqueles a quem vocês
  perdoarem os pecados, ser-lhes-ão perdoados; àqueles a quem os retiverdes,
  ser-lhes-ão retidos" (Jo 20, 22-23).
</p>

<strong>
  3. A igreja tem a autoridade para perdoar os pecados através do Sacramento da
  Penitência?
</strong>

<p>
  Sim, a Igreja tem esta autoridade porque a recebeu de Nosso Senhor Jesus
  Cristo: "Em verdade vos digo: tudo o que ligardes sobre a terra será ligado no
  céu, e tudo o que desligardes sobre a terra será também desligado no céu" (Mt
  18,18).
</p>

<strong>
  4. Por que me confessar e pedir o perdão para um homem igual a mim? Só Deus
  perdoa os pecados.
</strong>

<p>
  O Padre, mesmo sendo um homem sujeito às fraquezas como outros homens, está
  ali em nome de Deus e da Igreja para absolver os pecados. Ele é o ministro do
  perdão, isto é, o intermediário ou instrumento do perdão de Deus, como os pais
  são instrumentos de Deus para transmitir a vida a seus filhos; e como o médico
  é um instrumento para restituir a saúde fisica, etc.
</p>

<strong>5. Como deve ser a confissão?</strong>

<p>
  Diga o tempo transcorrido desde a última confissão. Acuse (diga) seus pecados
  com clareza, primeiro os mais graves, depois os mais leves. Fale
  resumidamente, mas sem omitir o necessário. Devemos confessar os nossos
  pecados e não os dos outros. Porém, se participamos ou facilitamos de alguma
  forma o pecado alheio, também cometemos um pecado e devemos confessá-lo (por
  exemplo, se aconselhamos ou facilitamos alguém a praticar um aborto, somos tão
  culpados como quem cometeu o aborto).
</p>

<strong>
  6. O que pensar da confissão feita sem arrependimento ou sem propósito de
  conversão, ou seja, só para "descarregar" um pouco os pecados?
</strong>

<p>
  Além de ser uma confissão totalmente sem valor, é uma grave ofensa à
  Misericórdia Divina. Se qualquer pecado mortal deliberadamente não for
  acusado, a Confissão é sem valor e má. Quem a pratica comete um pecado grave
  de sacrilégio. Se alguém deliberadamente indica um número menor de vezes que
  um pecado mortal for cometido, a Confissão é mal feita. Não é permitido calar
  o número.
</p>

<strong>7. Que pecados somos obrigados a confessar?</strong>

<p>
  Somos obrigados a confessar todos os pecados graves (mortais). Mas é
  aconselhável também confessar os pecados leves (veniais) para exercitar a
  virtude da humildade. Pecados mortais sempre devem ser confessados. Devem ser
  mencionados pelo nome, isto é, dizer exatamente de que espécie são. Também
  deve-se dizer quantas vezes foram cometidos. Se, por uma falha de memória, uma
  pessoa se esquece de mencionar um pecado mortal de que é culpada, ou, sem o
  querer, diminui os números dos pecados não precisará inquietar-se. Não
  precisará voltar ao confessionário para corrigir a omissão ou erro cometido
  sem culpa. O pecado foi perdoado junto com os outros que foram confessados. Na
  seguinte Confissão, porém, deve acusar este pecado e dizer que por
  esquecimento ou por um engano, deixou de o acusar na Confissão passada.
</p>

<strong>8.0 que são pecados graves (mortais) e suas consequências?</strong>

<p>
  São ofensas graves a Deus ou ao próximo. Eles apagam a caridade no coração do
  homem e o desviam de Deus. Quem morre em pecado grave (mortal) sem
  arrependimento, merece a morte eterna, conforme diz a Escritura: "Há pecado
  que leva à morte" (1Jo 5.16b). Para que haja pecado grave (mortal) é
  necessário:
</p>

<p>
  a) conhecimento, ou seja, a pessoa deve saber, estar informada que o ato a ser
  praticado è pecado;
</p>

<p>
  b) consentimento, ou seja, a pessoa tem tempo para refletir, e escolhe
  (consente) cometer o pecado;
</p>

<p>
  c) liberdade, isto é, significa que somente comete pecado quem é livre para
  fazê-lo;
</p>

<p>
  d) matéria, ou seja, significa que o ato a ser praticado é uma ofensa grave
  aos Mandamentos de Deus e da Igreja.
</p>

<p>
  Estas 4 condições também são aplicáveis aos pecados leves, com a diferença que
  neste caso a matéria é uma ofensa leve contra os Mandamentos de Deus.
</p>

<strong>9. O que são pecados leves (ou também chamados de veniais)?</strong>

<p>
  São ofensas leves a Deus e ao próximo. Embora ofendam a Deus, não destroem a
  amizade entre Ele e o homem. Quem morre em pecado leve não merece a morte
  eterna. "Toda iniquidade é pecado, mas há pecado que não leva à morte" (1Jo 5,
  17).
</p>

<strong>10. Todo aquele que morre em pecado mortal está condenado?</strong>

<p>
  Merece a condenação eterna. Porém, somente Deus, que é justo e misericordioso
  e que conhece o coração de cada pessoa, pode julgar.
</p>

<strong> 11. A confissão é obrigatória? </strong>

<p>
  O católico deve confessar-se no minimo uma vez por ano, ao menos a fim de se
  preparar para a Páscoa. Mas somos também obrigados toda vez que cometemos um
  pecado mortal. Mas, além de obrigação, há a graça do sacramento; e mesmo
  quando alguém não cometeu pecado mortal, esta graça é preciosissima e
  importantíssima. As pessoas que tiverem hábitos pecaminosos aconselha-se que
  se confessem mais frequentemente para alcançarem a força própria do
  sacramento.
</p>

<strong>12. Quais os frutos de se confessar constantemente? </strong>

<p>
  Toda confissão apaga completamente nossos pecados, até mesmo aqueles que
  tenhamos esquecido. E nos dá a graça santificante, tornando-nos naquele
  instante uma pessoa santa. Tranquilidade de consciência, consolo espiritual.
  Aumenta nossos méritos diante do Criador. Diminui a influência do demônio em
  nossa vida. Faz criar gosto pelas coisas do alto. Exercita-nos na humildade e
  nos faz crescer em todas as virtudes.
</p>

<strong>13. O que significa a penitência dada no final da confissão? </strong>

<p>
  A penitência proposta no fim da confissão não é um castigo; mas antes uma
  expressão de alegria pelo perdão celebrado. A penitência é uma parte essencial
  da Confissão. Por isto, o homem prudente reza-a logo. Deixar de cumprir
  deliberadamente a penitência imposta por um pecado mortal é por sua vez pecado
  mortal. Esquecer a penitência não torna inválida a Confissão. Mas porque as
  orações impostas como penitência fazem parte de todo sacramento da penitência,
  elas tem um valor especial para remover as penas do Purgatório merecidas pelo
  pecado.
</p>
