<div class="pb-5">
  <h1>Sétimo e décimo mandamentos</h1>

  <h3>
    Não furtar nem injustamente reter ou danificar os bens do próximo e não
    cobiçar as coisas alheias.
  </h3>

  <p *ngFor="let pecado of mandamentos.pecados">
    <mat-checkbox color="primary" [(ngModel)]="pecado.selecionado">
      {{ pecado.texto }}
    </mat-checkbox>
  </p>
</div>

<div class="options">
  <button
    mat-stroked-button
    class="mr-2"
    [routerLink]="['/checklist/sexto-e-nono-mandamentos']"
  >
    Voltar
  </button>

  <button
    mat-flat-button
    color="primary"
    [routerLink]="['/checklist/oitavo-mandamento']"
  >
    Avançar
    <mat-icon> keyboard_arrow_right </mat-icon>
  </button>

  <button
    mat-button
    [matMenuTriggerFor]="menu"
    [disabled]="service.somePecadoSelected()"
  >
    Limpar
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      (click)="service.clearMandament(mandamentos)"
      [disabled]="service.atLeastOneSelected(mandamentos)"
    >
      Limpar este mandamento
    </button>
    <button mat-menu-item (click)="service.clearAll()">Limpar tudo</button>
  </mat-menu>
</div>
