<ion-content class="ion-padding">
  <h1 class="my-4 d-flex justify-content-center">Dicas</h1>

  <strong>Para fazer uma boa confissão:</strong>

  <ul>
    <li>Fazer bem o exame de consciência diante de Deus.</li>
    <li>
      Estar sinceramente arrependido dos pecados cometidos que tanto ofenderam a
      Deus e ao próximo.
    </li>
    <li>
      Ter o firme propósito de não mais pecar, mudar de vida, se converter.
    </li>
    <li>
      Confessar os próprios pecados junto do sacerdote dizendo-os com toda a
      sinceridade, clareza e brevidade.
    </li>
    <li>
      Reparar o mal que se fez cumprindo a penitência o que o sacerdote indicar.
    </li>
  </ul>

  <strong>Uma confissão não tem valor se: </strong>

  <ul>
    <li>
      Se omite voluntariamente algum pecado grave e o número de vezes que se
      cometeu.
    </li>
    <li>Se não se estiver arrependido do pecado cometido.</li>
    <li>Se não existir o propósito de emenda de vida.</li>
    <li>Se não se quiser cumprir a penitència imposta.</li>
  </ul>

  <strong> Oração para antes do exame de consciência </strong>

  <p>
    Senhor Deus onipotente, prostrado humildemente diante da Vossa divina
    majestade, Vos rendo infinitas graças por todos os beneficios que de vossa
    inefável bondade tenho recebido, e em particular por me terdes criado,
    conservado, remido e cumulado de tantos bens e mercês, muitos dos quais eu
    ignoro. Rogo-vos Senhor, humildemente, que vos digneis conceder-me luz
    abundante para conhecer todas as faltas e pecados, com que vos tenho
    ofendido, e graça eficaz para me arrepender e me emendar.
  </p>
</ion-content>
